# Don't track content of these folders
.vscode/*
.VSCodeCounter
CMakeFiles/*
.vs/*
out/*
.idea/*
cmake-build-cmake-build-w10-msvc-debug/*
cmake-build-debug-wsl/*
build/*
.cache/*
c/*

# Compiled source #
###################
*.txt
!*CMakeLists.txt

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
#*.7z
#*.dmg